
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

main {
    width: 100%;
}

#main-heading-container {
    padding: 2rem;
    text-align: center;
    color: #fff;
    background-color: #1E3247;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 3px #1E3247 solid;
  }
  
  .info-scroll {
      margin-top: 64px;
      display: flex;
      flex-direction: column;
      gap: 24px;
  }
  
  .info-scroll-heading {
      font-weight: bold;
  }

  .main-heading, .photo-service {
      padding: 15px 0px;
      text-transform: uppercase;
      font-family: 'Zen Kaku Gothic Antique', 'Arial Narrow', Arial, sans-serif;
  }
  
  .main-info, .info-container {
      font-family: 'EB Garamond', serif;
      padding: 8px 0px;
  }
  
  .info-container {
      font-size: 1rem;
      margin: 0 auto;
  }
  
  .photo-service {
      padding-top: 2.5rem;
      letter-spacing: 4px;
  }

/* Photo section */
.spacer {
    aspect-ratio: 675/900;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #1E3247;
    padding-top: 10px;
}

.layer1 {
    background-image: url(./assets/wave-haikei.svg);
}

.main-content-photo-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.main-content-photo-header h3 {
    font-size: 36px;
    font-weight: bold;
}

#main-content-container {
    /* margin-top: -600px; */
    height: 300px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 16px
}



/* Mobile size */
@media only screen and (max-width: 600px) {
    .main-heading, .photo-service {
        font-size: 36px;
        letter-spacing: 7px;
    }

    .main-info, .info-container {
        font-size: 1rem;
        letter-spacing: 2px;
    }
 
    .photo-service {
        font-size: 1rem;
    }

    .image-list-container {
        padding-top: 32px;
    }

    .MuiImageList-root {
        width: 100% !important;
        gap: 16px !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }

    /* Photo gallery styling */
    .MuiImageListItem-root {
        padding: 12px 12px 28px 12px;
        background: #eee;
        border-radius: 8px;
        box-shadow:  0 3px 10px rgb(0 0 0 / 0.2);
        height: fit-content !important;
    }
}

/* Tablet -> Desktop size */
@media only screen and (min-width: 601px) {
    header {
        padding-top: 5rem;
        max-width: 800px;
        margin: 0 auto;
    }

    .main-heading, .photo-service {
        font-size: 58px; 
        letter-spacing: 8px;
    }

    .main-info, .info-container {
        font-size: 21px;
        letter-spacing: 3px;
    }

    .info-container {
        max-width: 800px;
    }

    .photo-service {
        font-size: 28px;
    }

    #main-content-container {
        max-width: 800px;
        margin: 0 auto;
        margin-top: -600px;

    }

    .image-list-container {
        padding-top: 64px;
    }

    .MuiImageList-root {
        width: 100% !important;
        gap: 32px !important;
    }
}
