.photo-capture-label {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    background-color: #1E3247;
    padding: 1em;
    border-radius: 8px;
    cursor: pointer;
}

.photo-capture-label.submit {
    background-color: #32471e;
    word-break: keep-all;
}

.photo-capture-label.delete {
    background-color: #c0424e;
    word-break: keep-all;
}

.photo-capture-label.disabled {
    background-color: lightgray;
}

#photo-capture {
    visibility: hidden;
    width: 0px;
}

.image-count-container {
    font-family: 'Zen Kaku Gothic Antique', 'Arial Narrow', Arial, sans-serif;
    margin: 24px auto;
}

.image-modal-actions-container {
    display: flex;
    justify-content: space-between;
}

/* Photo gallery styling */
.MuiImageListItem-root {
    padding: 12px 12px 28px 12px;
	background: #eee;
    border-radius: 8px;
    box-shadow:  0 3px 10px rgb(0 0 0 / 0.2);
}

.MuiImageListItem-root:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


